*[title]{
    direction: rtl;
}
.calendar ul{
    display: block;
    width: 13%;
    float:right;
    transition: background-color 1s;
    padding:0.6%;
    border-radius: 5px;
}
.calendar ul:hover{
    background-color: #c0dafa;
}
.day{
    transition: width 1s;
    display: inline-block; width: calc(100% - 15px); height: 60px; border:1px solid black; box-shadow: 2px 2px 5px gray; background-color: #609dfb;
    margin:0px 5px 5px 0px;
    padding:5px;
}
.today{
    background-color:#013570; color:white;
}
.hiddenDay{visibility: hidden; height: 56px}

.holiday{
    background-color: #880000;
    color:white;
}

.aniversary_1{float:right;margin-right: 20px}

.momentUI {width: 190px}
.momentUI .zone{background-color: transparent}

.slaveDate{font-size: small;font-style: italic}
.slaveDate span{margin-right: 5px;}
.slaveDate span:last-child{margin-right: 0px;}
.selected{border:2px solid #952e02; margin: -1px 4px 4px -1px}
.infoAnniversary span{margin:2px 10px}
.taskEdit{}
.taskEdit table{display: block;float:right;min-width: 45%;}
.taskEdit .timeBox{display: block;float:right;min-width: 45%;}
.taskEdit .timeLabel{display: inline-block;margin:5px}
.failurePan .momentUI{background-color: #FF7070;}
.taskEdit table:first-child{margin-left: 3%}
.taskEdit table:last-child{margin-right: 3%}

#paintArea{direction: rtl;margin-right: 30px}
.taskView2{display:inline-block;margin:0px 0px 10px 10px;padding:5px;}

#toolbar{
    background-color: #332F2F; border-top-right-radius: 5px; border-bottom-right-radius: 5px; width:38px; margin-top:20px;padding-top:5px;
}
#toolbar img{
    margin:0px 4px 5px 4px; cursor: pointer;
}
.btn{min-width: 50px}










