@font-face
{
	font-family: farYekan;
	src:url('font/Far_Yekan.woff');
}
.sp *{font-family: tahoma,farYekan;font-size: small}
*{
	padding:0px; margin:0px;
}
div,li{cursor: default}

.doc-down
{
	background-color: coral;
	position:fixed;
	bottom: 0px; left:0px; right:0px;
	height: 170px;
	z-index:10;
	transition: all 0.5s;
}

.main-top
{
	background-color: #333333;
	color:linen;
	position:fixed;
	top:0px; left:0px; right:0px;
	z-index:20;
	padding:3px 10px;
	
}
.main-top ul{list-style: none;overflow:hidden;white-space: nowrap}
.main-top li
{
	/*float:right;*/
	display: inline-block;
	padding:1px 5px;
	margin:2px 3px;
	border-right: 1px solid linen;
	cursor: pointer;
	font-size: 15px;
}
#sideMenu{
	position: fixed; transition: all 0.5s;
	left:0px; width: 250px; bottom: 0px; top:25px; background-color: #474242; color:linen; box-shadow: 2px 2px 2px black;
}
#sideMenu ul{list-style: none;overflow:hidden;white-space: nowrap;margin-top:20px}
#sideMenu li
{
	/*float:right;*/
	padding:2px 5px;
	border-bottom: 1px dashed linen;
	margin:5px 10px;
	cursor: pointer;
	font-size: 15px;
}
#sideMenu[class="sidehide"]{
	width: 0px;
}

.logo-tl
{
	position:fixed;
	top:50px; left:20px; right:0px;
	z-index:20;
}
.painter
{
	margin-top:50px;
	margin-left:50px;
	font-family: tahoma; font-size:15px;
}
#optBtns {position:absolute;top:0px;}
#optBtns ul{list-style:none}
#optBtns li{float:left;cursor:pointer;margin:5px 15px;}

.tabsAlert{background-color:#222222;padding:5px;font-size:20px;font-weight:bold;border-top-left-radius:5px;position:fixed;bottom:10px;left:10px;z-index:9000}
.tabsAlert img{height:20px;width:20px; margin-right:10px;}

.subActionDialog{position:fixed;padding:5px; background-color:deeppink; color:white; font-weight:bold;border-radius:5px;z-index:10000;box-shadow:2px 2px 3px gray}
.subActionDialog ul{list-style:none}
.subActionDialog li{padding:2px 5px;margin:0px 5px}
.subActionDialog .right{float:right;}
.subActionDialog li:hover{cursor:pointer;box-shadow:0px 0px 5px white inset;}
.subActionDialog .left{float:left;}
.miniSidebar{height: calc(100% - 200px);position: fixed;top:31px;left:0px;background-color: coral}
.largeSidebar{height: calc(100% - 59px);position: fixed;top:31px;left:0px;background-color: coral}
#sideBar{transition: all 0.5s}
.exploreMode #sideBar{width:230px}
.exploreMode #paintArea{margin-left: 250px}

.compactMode #sideBar{width:40px}
.compactMode #paintArea{margin-left: 60px}

.noselect *{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently                                not supported by any browser */
}